<h1 class="resource-name"><a name="resource-<%= schemata['title'].downcase %>"><%= schemata['title'] %></a></h1>

<% schemata['links'].each do |link, datum| %>

<h2 class="link-name"><a name="link-<%= link['method'] %>-<%= link['title'] %>"><%= link['title'] %></a></h2>

<p class=link-description">
<%= markdownify.(schemata['description']) %>
</p>

<pre>
<%= link['method'] %> <%= link['link_path'] %>
</pre>

<div class="link-copy-wrapper">
  <div class="link-properties">
  <% if (link['required_properties'] && !link['required_properties'].empty?) || (link['optional_properties'] && !link['optional_properties'].empty?) %>
    <h2 class="link-properties-title">Arguments</h2>
    <ul class="link-properties-list">
    <%- link['required_properties'].each do |property_ref| -%>
    <li class="link-properties-item">
      <h3 class="link-properties-item-label">
        <span class="link-properties-item-name">
          <%= property_ref[:name] %>
        </span>
        <span class="link-properties-item-type">
          <%= property_ref[:type] %>
        </span>
        <span class="link-properties-required">
          Required
        </span>
      </h3>
      <div class="link-properties-item-description-and-children">
        <p class="link-properties-item-description">
          <span><%= markdownify.(property_ref[:description]) %></span>
        </p>
      </div>
    </li>
    <%- end -%>
    <%- link['optional_properties'].each do |property_ref| -%>
    <li class="link-properties-item">
      <h3 class="link-properties-item-label">
        <span class="link-properties-item-name">
          <%= property_ref[:name] %>
        </span>
        <span class="link-properties-item-type">
          <%= property_ref[:type] %>
        </span>
        <span class="link-properties-optional">
          Optional
        </span>
      </h3>
      <div class="link-properties-item-description-and-children">
        <p class="link-properties-item-description">
          <span><%= markdownify.(property_ref[:description]) %></span>
        </p>
      </div>
    </li>
    <%- end -%>
    </ul>
  <%- end -%>
  </div>

  <div class="link-example">

  <%= include.('curl_example.html.erb', example: link['example']) %>

  <%= include.('response.html.erb', response: link['response']) %>

  </div>
</div>

<%- end -%>
