# <a class="header-link" name="resource-<%= schemata['title'].downcase %>"><%= schemata['title'] %></a>

<% if schemata['stability'] && !schemata['stability'].empty? %>
Stability: `<%= schemata['stability'] %>`
<% end %>

<%= schemata['description'] %>

<% if schemata['property_refs'] && !schemata['property_refs'].empty? %>
## Attributes

| Name | Type | Description | Example |
| ------- | ------- | ------- | ------- |
<%- schemata['property_refs'].each do |property_ref| -%>
| **<%= property_ref[:name] %>** | *<%= property_ref[:type] %>* | <%= property_ref[:description] %> | <%= property_ref[:example] %> |
<%- end -%>
<% end %>
